*{
  
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: #012934;
    color: rgb(255, 255, 255);
    
}

header {
  flex: 0 0 300px;
  background: #022128;
  border: 2px solid var(--primary-color, #000000);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: left;
  scroll-snap-align: start;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    align-items:center;
    padding: 5px;
    
}

.name {
    font-weight: bold;
    font-size:50px;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    
    padding: 10px 0;
    opacity: 0;
    text-align: left;
    transform: translateX(-100%);   
    animation: slideInRight 1s ease-out forwards;
}


.portfolio-heading {
  font-size: 60px;
  font-weight: bold;
  opacity: 0;
  text-align: left;
  transform: translateX(100%);   
  animation: slideInRight 1s ease-out forwards;
}


@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);   
  }
}
.navbar{
  
  flex: 0 0 300px;
  background: #022128;
  border: 2px solid var(--primary-color, #000000);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: left;
  scroll-snap-align: start;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   background: #000000;
    padding: 10px 0;
    text-align: center;
    opacity: 0;
    transform: translateX(-100%);   
    animation: slideInLeft 1s ease-out forwards;
    position: fixed;        
    top: 0;                 
    left: 0;
    width: 100%;            
    background-color: #012934;
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;             
    padding: 15px 0;
    z-index: 1000;          
}


body {
    padding-top: 70px;     
   }



.portfolio-heading {
  font-size: 60px;
  font-weight: bold;
  opacity: 0;
  transform: translateX(100%);   
  animation: slideInRight 1s ease-out forwards;
}


@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);   
  }
}


.navbar ul {
    display: flex;
    list-style: none;   
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: rgb(250, 247, 247);
    text-decoration: underline;
    font-weight: bold;
    margin: 10px;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: 5px;
    scroll-behavior: smooth;
}
.navbar ul li a:hover,
.navbar ul li a.active{
    background: #012934;
    transition: 0.3s;
}



.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: larger;
}

.hero-image img {
  flex: 0 0 300px;
  background: #022128;
  border: 2px solid var(--primary-color, #000000);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: left;
  scroll-snap-align: start;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 20vw;
    padding: 10px ;
    margin-right: 80px;
    margin-left: 60px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 1s ease-out forwards;
}
@keyframes slideInLeft{
    to{
        opacity: 1;
        transform: translateX(0);
    }
    
}

.hero-content {
    margin-bottom: 50px;
}


.hero-content h1 {
    font-size: 60px;
    font-weight: bold;
    opacity: 0;
    transform: translateX(100%);
    animation: slideInRight 1s ease-out forwards;
}
@keyframes slideInRight{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-content p {
    max-width: 400px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
    opacity: 0;
    transform: translateX(100%);
    animation: slideInRight 1s ease-out forwards;
}
@keyframes slideInRight{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.buttons button:first-child {
    background-color: white;
    color: black;
}

.buttons button:last-child {
    background-color: #333;
    color: white;
}

footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #222;
    font-size: 12px;
}

#aboutme h2{
    text-align: center;
    font-size: 28px;
    color: #02dbf8;
    font-weight: bold;
    border-bottom: 2px solid #7e878f;
    margin-bottom: 20px;
    
}
.aboutme li{
   text-decoration: underline;
}

 .aboutme-card {
  flex: 0 0 300px;
  background: #022128;
  border: 2px solid var(--primary-color, #000000);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  scroll-snap-align: start;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.aboutme-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}
.aboutme-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 2rem;
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}
.aboutme-slider::-webkit-scrollbar {
  display: none; 
}


.shine {
  display: inline-block;
  text-decoration: underline;
  background: linear-gradient(90deg, #02dbf8, #f0eff0, #0ac5f4);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 3s linear infinite;
  font-weight: bold;
  transition: all 0.3s ease;
}


 .shine:hover {
  transform: scale(1.05);
  text-shadow: 0 0 10px rgba(234, 239, 239, 0.6),0 0 20px rgba(13, 227, 227, 0.6);
  text-decoration: underline;
} 
#education h2{
    text-align: center;
    font-size: 28px;
    color: #02dbf8;
    font-weight: bold;
    border-bottom: 2px solid #7e878f;
    margin-bottom: 20px;
}
.qualification h3{
  text-decoration: underline;
}
.qualification p a{
  text-decoration: underline;
}

.education-card {
  flex: 0 0 300px;
  background: #022128;
  border: 2px solid var(--primary-color, #000000);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  scroll-snap-align: start;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px  rgba(255, 255, 255, 0.5);
}
.education-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 2rem;
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}
.education-slider::-webkit-scrollbar {
  display: none; 
}




#Project {
  padding: 6rem 2rem;
  background: black;
  color: #02dbf8;
  text-align: center; 
  
} 
/* #project h2{
    text-align: center;
    font-size: 28px;
    color: #f2f2f5;
    font-weight: bold;
    border-bottom: 2px solid #7e878f;
    margin-bottom: 20px;
 } */

#project h2{
  text-align: center;
    font-size: 28px;
    color: #02dbf8;
    font-weight: bold;
    border-bottom: 2px solid #7e878f;
    margin-bottom: 20px;
}
.btn-group{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.btn:hover{
  opacity: 0.12;
}

.project-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 2rem;
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

.project-slider::-webkit-scrollbar {
  display: none; 
}

.project-card {
  flex: 0 0 300px;
  background: #022128;
  border: 2px solid var(--primary-color, #000000);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  scroll-snap-align: start;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px  rgba(255, 255, 255, 0.5);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.project-card h3 {
  color: #02dbf8;
}
.project-card .btn {
    display: inline-block;
    gap: 30px;
    background-color: #0bc3d7;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}



#skills h2{
  
    font-size: 28px;
    color: #02dbf8;
    font-weight: bold;
    border-bottom: 2px solid #7e878f;
    margin-bottom: 20px;
    
}
#skills h3{
  
    margin: 0;
    color: #02dbf8;
    font-weight: normal;
    text-decoration: underline;
}
.skills li{
    margin: 5px 0;
    color: #f8f4f4;
    list-style: none;
    font-weight: normal;

}
.skills {
    margin-bottom: 20px;
}
.skills-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 2rem;
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

.skills-slider::-webkit-scrollbar {
  display: none; 
}

.skills-card {
  flex:20 300px;
  background: #022128;
  border: 2px solid var(--primary-color, #000000);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  scroll-snap-align: start;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px  rgba(255, 255, 255, 0.5);
}

.skills-card img {
  width: 3%;
  height: 3x;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.skills-card h3 {
  color: #02dbf8;
}
.skills-card .btn {
    display: inline-block;
    gap: 30px;
    background-color: #0bc3d7;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}


 


#certification h2{
    text-align: center;
    font-size: 28px;
    color: #02dbf8;
    font-weight: bold;
    border-bottom: 2px solid #7e878f;
    margin-bottom: 20px;
}
.certification {
    margin-bottom: 20px;
}
.certification li{
  margin: 5px 0;
  color: #f8f4f4;
  list-style: none;
  font-weight: normal;
}
 
 .certification-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 2rem;
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

.certification-slider::-webkit-scrollbar {
  display: none; 
}

.certification-card {
  flex: 0 0 300px;
  background: #022128;
  border: 2px solid var(--primary-color, #000000);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  scroll-snap-align: start;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certification-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px  rgba(255, 255, 255, 0.5);
}

.certification-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.certification-card h3 {
  color: #02dbf8;
}
.certification-card .btn {
    display: inline-block;
    gap: 30px;
    background-color: #0bc3d7;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

#contact {
  padding: 5rem 0;
  color: white;
}

#contact .section-title h2{
  color: #02dbf8;
  margin-left: 50%;
}


.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
}
.contact-card {
  flex: 0 0 300px;
  background: #022128;
  border: 2px solid var(--primary-color, #000000);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  scroll-snap-align: start;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}
.contact-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 2rem;
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}
.contact-slider::-webkit-scrollbar {
  display: none; 
}
footer a{
  color: #fff9f9;
  text-decoration: none;
  font-size: 35px;
  margin: 0;/
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.5);
}
.footer-card {
  flex: 0 0 300px;
  background: #022128;
  border: 2px solid var(--primary-color, #000000);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  scroll-snap-align: start;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}
.footer-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 2rem;
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}
.footer-slider::-webkit-scrollbar {
  display: none; 
}
 

 
